.myform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100%;
}
.forma{
    width: 100vw;
    height: 100vh;
}
.fr{
    padding-bottom: 10px;
    border-radius: 4px;
}