.image{
    width: 400px;
    height: 400px;
}
.img{
    height: 40px;
}
.obw{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body_intro{
    width: 100%;
    height: 100%;
}
.fr{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    color: white;
}